body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #eee;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

#main-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

#nav-bar {
  height: 6vh;
  background-color: rgb(36, 36, 36);
  margin: 0;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 8fr;
}

#container {
  margin: 0;
}

.nav-div {
  background-color: rgb(36, 36, 36);
}

.nav-link {
  font-size: 30px;
  text-decoration: none;
  position: relative;
  display: block;
  top:20%;
  width: 100%;
  text-align: center;
  color: #bbb;
}

.nav-div:hover,
.nav-div:focus {
  background-color: rgb(60, 72, 90);
}

#clients {
  width: 100%;
}

#serch-div {
  margin: 2vh 0 0 0;
  height: 8vh;
  border: 1px solid black;
}

table {
  width: 90%;
  display: block;
  position: relative;
  margin: auto;
}

#visible-pop-up {
  display: grid;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: rgb(36, 36, 36);
  opacity: 0.9;
}

#hidden-pop-up {
  display: none;
  color: 
}

thead{
  width: 95%;
  position: relative;
  display: block;
  margin: auto;
  box-shadow: 1px 1px 1px;
  height: 4vh;
  background-color: rgba(241, 241, 3, 0.822);
}

th {
  text-align: left;
  font-size: 18px;
  position: relative;
  top: 25%;
}

#table-title {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
}

tbody{
  width: 95%;
  position: relative;
  display: block;
  margin: auto;
}

tr {  
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  height: 4vh;
  box-shadow: 0px 2px;
}

td {
  text-align: left;
  font-size: 18px;
  position: relative;
  top: 25%;
}


